<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../partials/bootstrap') %>
    <title>Edit Victims</title>
</head>
<body>

    <%- include('../../partials/header') %> 

    <h1>Make Changes to <%= victims.name %></h1>

    <form action="/victims/<%= victims._id %>?_method=PUT" method="POST">
        <div>
            <label for="name">Victim Name: </label>
            <input type="text" name="name" value="<%= victims.name %>"/>
        </div>

        <div>
            <label for="age">Age: </label>
            <input type="text" name="age" value="<%= victims.age %>"/>
        </div>

        <div>
            <label for="cause_of_death">Cause of Death: </label>
            <input type="text" name="cause_of_death" value="<%= victims.cause_of_death %>"/>
        </div>

        <div>
            <label for="dull_machete">Dull Machete Kill? :</label>
            <input type="checkbox" name="dull_machete">
        </div>

        <div>
            <label for="golden_chainsaw">Golden Chainsaw Kill? :</label>
            <input type="checkbox" name="golden_chainsaw">
        </div>

        <label>Which Movie Did This Character Die In?</label><br>
             <select>
               <option value = "1">Halloween</option>
               <option value = "2">Halloween II</option>
               <option value = "3">Halloween III</option>
               <option value = "4">Halloween IV</option>
               <option value = "5">Other</option>
             </select><br>

        <input type="submit" value="Submit Changes">
    </form>
</body>
</html>