
<div class="card" style="width: 20rem;">
    <img src="" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><%= victims.name %></h5>
      <p class="card-text">

        <b>Cause of Death: </b><%= victims.cause_of_death %><br><br>

        <% if (victims.golden_chainsaw === true) { %> <img src="/logos/The_Golden_Chainsaw.png" width="125px">
        <br><br><b>Awarded Golden Chainsaw Recipient for Coolest Death</b>
        <% } %> 

        <% if (victims.dull_machete === true) { %> <img src="/logos/The_Dull_Machete.png" width="125px"> 
        <br><br><b>Awarded Dull Machete Recipient for Lamest Death</b><br>
        <% } %> 

        <br><b>Time Of Death: </b><%= victims.time_killed %><br>

        <!-- <b>Movie: </b><= movie._id.title %></a> -->

        

        <form action="/victims/<%= victims._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Victim" class="btn btn-danger">
        </form>
    
        <form action="/victims/<%= victims._id %>/edit" method="GET">
            <input type="submit" value="Edit Victim Details" class="btn btn-danger">
        </form>
    </div>
  </div>
