
    <h1><%= movies.victims[0].name %></h1>

    <p><b>Age: </b><%= movies.victims[0].age %></p>
    <p><b>Cause of Death: </b><%= movies.victims[0].cause_of_death %></p>
    <p><b>Coolest Death?: </b>
        <% if (victims.golden_chainsaw) { %> Yes! <% } else { %> Nah :/ <% } %> 
        </p>
    <p><b>Lamest Death?: </b>
            <% if (victims.dull_machete) { %> Yes lol <% } else { %> Nope! <% } %> 
            </p>

    <p><%= movies.victims[0].name %> died in <a href="/movies/<%=movies._id %>"><%= movies.title %></a></p>


    <form action="/victims/<%= victims._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Victim">
    </form>

    <form action="/victims/<%= victims._id %>/edit" method="GET">
        <input type="submit" value="Edit Victim Details">
    </form>
